In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../raw_data/accepted_2007_to_2018Q4.csv', nrows=10000)

/tmp/ipykernel_154937/359322258.py:1: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../raw_data/accepted_2007_to_2018Q4.csv', nrows=10000)

In [4]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
cols = [
    "loan_amnt", "int_rate", "grade", "emp_length", "annual_inc",
    "dti", "fico_range_low", "revol_util", "purpose",
    "home_ownership", "loan_status"
]

df_small = df[cols]
df_small.head()

,loan_amnt,int_rate,grade,emp_length,annual_inc,dti,fico_range_low,revol_util,purpose,home_ownership,loan_status
0,3600.0,13.99,C,10+ years,55000.0,5.91,675.0,29.7,debt_consolidation,MORTGAGE,Fully Paid
1,24700.0,11.99,C,10+ years,65000.0,16.06,715.0,19.2,small_business,MORTGAGE,Fully Paid
2,20000.0,10.78,B,10+ years,63000.0,10.78,695.0,56.2,home_improvement,MORTGAGE,Fully Paid
3,35000.0,14.85,C,10+ years,110000.0,17.06,785.0,11.6,debt_consolidation,MORTGAGE,Current
4,10400.0,22.45,F,3 years,104433.0,25.37,695.0,64.5,major_purchase,MORTGAGE,Fully Paid

In [6]:
df_small.dtypes

loan_amnt         float64
int_rate          float64
grade              object
emp_length         object
annual_inc        float64
dti               float64
fico_range_low    float64
revol_util        float64
purpose            object
home_ownership     object
loan_status        object
dtype: object

In [8]:
df_small.describe()

,loan_amnt,int_rate,annual_inc,dti,fico_range_low,revol_util
count,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.00000,9995.000000
mean,15104.437500,12.295983,7.888008e+04,19.507888,695.85150,50.948224
std,8717.527683,4.304762,6.440111e+04,13.120647,31.51312,24.203625
min,1000.000000,5.320000,1.770000e+03,0.000000,660.00000,0.000000
25%,8000.000000,9.170000,4.900000e+04,12.770000,670.00000,32.600000
50%,14000.000000,11.990000,6.800000e+04,18.850000,690.00000,50.800000
75%,20000.000000,14.850000,9.500000e+04,25.670000,710.00000,69.400000
max,35000.000000,28.990000,3.964280e+06,999.000000,845.00000,134.300000

In [9]:
df_small["int_rate"] = df_small["int_rate"].str.replace("%", "").astype(float)

AttributeError: Can only use .str accessor with string values!